
li{
	 font-size: 115%;
	 font-family:helvetica;
	 font-weight:bold;
}


/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.opaque-navbar {
    background-color: rgba(0,0,0,0.5);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
    padding-top:20px;
  padding-bottom:20px;
  -webkit-transition:padding 0.5 linear;
  -moz-transition:padding 0.5s linear;  
  -o-transition:padding 0.5s linear;         
  transition:padding 0.5s linear; 
}

.opaque-navbar.opaque {
    background-color: black;
    
    transition: background-color .5s ease 0s;
    padding:0px;
  -webkit-transition:padding 0.2s linear;
  -moz-transition:padding 0.2s linear;  
  -o-transition:padding 0.2s linear;         
  transition:padding 0.2s linear;  
}

ul.dropdown-menu {
    background-color: black;
}



@media (max-width: 992px) {
  body
  {
    background: chocolate;
  }
  .opaque-navbar {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}
 
}



